* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
    border-radius: 2px;
    border-color: #333;
}

h1 {
    padding: 1;
    text-align: center;
    color: #333;
    font-size: 56px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

button {
    font-size: 1.1em;
    background-color: #e3e3e3;
    color: #333;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

button:hover {
    background-color: #d3d3d3;
}



.top{
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
    display: flex;
}
#info{
    float: left ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-right: auto;
    font-size: 15px;
}
#api-button{
    display: flex;
    width: 150px;
    border: solid 1px;
    border-color: #999;
}

#balance{
    height: 40px;
    text-align: right;
    width: 110px;
    
    color: #888;
    font-size: 15px;
    padding-right: 5%;

}
#refresh{
    height: 40px;
    width: 40px;
    background-color: #e3e3e3;
    
    margin-left: auto;  
}
#settings{
    background-color: #e3e3e3;
    display: flex;
    float: right ;
    width: 120px;
    color: #333;
    font-size: 15px;
    align-items:center;
    justify-content:center;
    padding: 5px;
    border: solid 1px;
    border-left: none;
    border-color: #999;
}
#generate{
    width: 200px;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    align-items: center;
    justify-content: center;
    display: flex;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    max-height: 300px;
    margin-bottom: 1em;
}




#chart-container {
    margin-top: 100px;
    width: 100%;
    height: 500px;
    margin: 2em auto;
}
  
  /* Add or modify the following CSS rules as needed */
  textarea[type="text"] {
    height: 62px;
    font-size: 18px;
    padding: 10px;
    width: 800px;
    resize: none; /* Disable resizing */
    text-align: left; /* Left text */
    margin: 0 10px; /* Add margin to the edges */
    overflow-y:hidden;
    border-radius: 15px;
    font-family: "Microsoft YaHei";
}
.form-group {
    position: relative;
}

#loader{
    justify-content: center;
    align-items: center;
    
    position: relative;
    display: none;
    left: 50%;
    transform: translate(-50%);

    margin-top: 20px;

}
#loader span{
    width: 10px;
    height: 48px;
    margin: 0 13px;
    background-color: #fff;
    animation: animate 1.4s linear infinite;

}
#loader span:nth-child(1){
    animation-delay: 0s;
}
#loader span:nth-child(2){
    animation-delay: 0.2s;
}
#loader span:nth-child(3){
    animation-delay: 0.4s;
}
#loader span:nth-child(4){
    animation-delay: 0.6s;
}
#loader span:nth-child(5){
    animation-delay: 0.8s;
}
#loader span:nth-child(6){
    animation-delay: 1.0s;
}
#loader span:nth-child(7){
    animation-delay: 1.2s;
}

@keyframes animate
{
    0%
    {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
        opacity: 0;
        transform: translateX(-50px) scale(1);
    }

    50%
    {
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        opacity: 1;
        transform: translateX(0px ) scale(1.2);
    }

    100%
    {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
        opacity: 0;
        transform: translateX(50px) scale(1);
    }
}