<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChartGPT📈</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'img/logo.ico') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}", type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-1.11.1.min.js')}}"> </script>
</head>
<body>
    <div class="container">
        <h1>ChartGPT📈</h1>
        
        <form id = "chart-form">
                <div class="form-group">
                    <textarea type="text" id="user-input" name="user-input" rows="2" cols="200" placeholder="Describe charts in natural languages:"  required></textarea>
                </div>
        </form>
        <div class="generate">
            <button id="generate">
                Generate<?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 50 50" height="25px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M25.213,7.183C26.125,7.062,27.055,7,28,7  c11.598,0,21,9.402,21,21s-9.402,21-21,21S7,39.598,7,28c0-0.996,0.069-1.976,0.203-2.934" fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="2"/><path d="M22,22H1  C1,10.402,10.402,1,22,1V22z" fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/><rect fill="none" height="50" width="50"/></svg>
            </button>
            
        </div>
        <div id="loader" class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="top">
            <div id="Note">
                <div id="example">提供一些参考的样例：</div>
                <ul>
                    <li>创建一个折线图，横坐标['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']，纵坐标 [150, 230, 224, 218, 135, 147, 260]</li>
                    <li>创建一个雷达图，数据 为[4200, 3000, 20000, 35000, 50000, 18000]，分别对应[Sales，Administration，Information Technology，Customer Support，Development,Marketing] 这几项内容</li>
                    <li>创建一个K线图，横坐标 ['2017-10-24', '2017-10-25', '2017-10-26', '2017-10-27']，纵坐标[[20, 34, 10, 38],[40, 35, 30, 50],[31, 38, 33, 44],[38, 15, 5, 42]]</li>
                </ul>
            </div>
        </div>
        <div id="chart-container"></div>
    </div>

    <script src="{{ url_for('static', filename = 'js/echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>

</body>
</html>